:root {
    --color-thead: rgba(2, 53, 95, 0.842);
    --color-texto-thead: white;
    --color-texto-tbody: rgba(94, 92, 92, 0.884);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

.titulo-tabla {
    text-align: center;
    margin: 30px;
}

table {
    width: 90%; /* Aumentar el ancho de la tabla */
    max-width: 1200px; /* Limitar el ancho máximo */
    min-width: 600px; /* Establece el ancho mínimo de la tabla */
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: var(--color-thead);
    color: var(--color-texto-thead);
}

th, td {
    padding: 12px; /* Reducir el padding para hacer la tabla más compacta */
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody td {
    font-size: 14px; /* Ajustar el tamaño de la fuente */
}

tbody td:nth-child(3) img {
    width: 50px;
    height: auto;    
    margin-left: 5px;
    transition: 0.3s ease;
}

tbody td:nth-child(4) img,tbody td:nth-child(4) input{
    width: 30px;
    height: auto;    
    margin-left: 5px;
    transition: 0.3s ease;
}
tbody td:nth-child(4) a{
    text-decoration: none;
    display: inline-block;
}
tbody td:nth-child(4) form{
   
    display: inline-block;
    height: auto;  }  

tbody td:nth-child(4) img:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.568);
}

tbody td:nth-child(4) a {
    text-decoration: none;
}

tbody tr:nth-child(4) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #eeeeee;
}