:root{
    --color-slidebar:#2C3E50;    
    --color-main:#ECF0F1;
    --color-texto:#34495E(49, 47, 47, 0.836);

}
/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif ;
    color: var(--color-texto);
}

/* slidebar */
.slidebar{
    position: fixed;
    background-color: var(--color-slidebar);
    color: white;
    top:0;
    left:0;
    width: 250px;
    height: 100vh;
    display: block;
    overflow-y: auto;
    padding: 15px;
    transition: transform 0.3s ease;
}
.slidebar h2{
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
/* elementos slidebar */
.element-slidebar{
    display: block;
    margin-bottom: 10px;
    color: rgb(233, 224, 224);
    transition: color 0.2s ease,font-size 0.2s ease;
}
.element-slidebar-btn{
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
}
.element-slidebar img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.element-slidebar-content a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    margin: 20px;
    font-size: 16px;
}
/*formulario salir en plantilla*/
.element-slidebar-content .logout-link{
    display: block;
    background: none;
    border: none;
    color: aliceblue;
    margin: 20px;
    font-size: 16px;
}

.profile img{   
    border-radius: 2%;

}
.element-slidebar-content{
    display: none;
}
.element-slidebar:hover{
    color:#E74C3C;
    font-size: 20px;
}
/* desplegar items de elemento del slidevar */
.element-slidebar.active .element-slidebar-content{
    display: block;
    border-bottom: 1px solid rgb(179, 176, 176);
}
/* main */
.main{
    margin-left: 250px;
    background-color: var(--color-main);
   
    height: 100vh;
}
/* header */
.header{
    border-bottom:2px solid rgb(145, 139, 139) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}
.menu-hamburger{
    display: none;
    border: none;
    font-size: 30px;
    color: black;
}

/* cards */

.container-cards{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:10px;
    margin: 20px;
    padding-bottom: 10px;

}

.card:hover{
    background-color: #f8f9fac0;
}

.card{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cabecera{
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(168, 167, 167);
    height: 80%;
    margin-bottom: 10px;
}
.cabecera img{
    width: 50px;
    height: 50px;
}

.container-graficas{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(380px,1fr));
    gap:10px;
    margin: 20px;
    height: 380px;
}

@media(max-width:767px){
    .main{
        margin: 0;
    }
    .slidebar{
        transform: translateX(-100%);
    }
    .menu-hamburger{
        display: block;
    }
    .slidebar.hidden{
        transform:translateX(0) ;
    }
}

.logo{
    display: flex;
    align-items: center;
    gap: 2px;
}

.logo img{
height: 50px;
width: auto;
padding-bottom: 10px;
}

.logo, span{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    
}

/*Tabla*/



/*Boton*/

.container-graficas button img {
    padding: 4px;
    width: 50px;
    height: 50px;
}

.container-graficas button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498DB;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-graficas button:hover {
    background-color: #2980B9;
}

.boton {
    display: flex;
    justify-content: center;
}
